/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

.nav-space>form{
    padding: 0 .5em;
}

.nav-space>button{
}

.main-clear{
    clear:inline-start;
}
