<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load define %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
    <title>DnDer - {{ title }}</title>
    {% else %}
    <title>DnDer - Welcome</title>
    {% endif %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    {#  define True as theme #}
    {% if theme %}
        <link rel="stylesheet" href="{% static 'darkTheme.css' %}" type="text/css">
        {% define 'btn-outline-light' as outline %}
    {% else %}
        <link rel="stylesheet" href="{% static 'lightTheme.css' %}" type="text/css">
        {% define 'btn-outline-info' as outline %}
    {% endif %}


</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="mr-4" href="{% url 'home' %}"><img src="{% static 'd20-design-png-t-shirt-d20-system-clipart-c7da376baa2e5474.png' %}" alt="logo" height="45px"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <div class="btn-group nav-space" role="group" align="right">
                        {% if user.is_authenticated %}
                            <form action="{% url 'home' %}">
                                <button type="submit" class="btn {{ outline }}">home</button>
                            </form>
                        {% else %}
                            <form action="{% url 'root' %}">
                                <button type="submit" class="btn {{ outline }}">home</button>
                            </form>
                        {% endif %}
                    </div>
                </div>

                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <div class="btn-group nav-space" role="group" align="right">
                            <form action="{% url 'profile' %}">
                                <button type="submit" class="btn {{ outline }}">profile</button>
                            </form>
                            <form action="{% url 'logout' %}">
                                <button type="submit" class="btn {{ outline }}">logout</button>
                            </form>

                            {% if user.is_dm %}
                            <form action="{% url 'session_creation' %}">
                                <button type="submit" class="btn {{ outline }}">create session</button>
                            </form>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="btn-group nav-space" role="group" align="right">
                            <form action="{% url 'login' %}">
                                <button type="submit" class="btn {{ outline }}">login</button>
                            </form>

                            <form action="{% url 'register' %}">
                                <button type="submit" class="btn {{ outline }}">register</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<br/>
<br/>

<main role="main" class="container main-clear pt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            {% block content %}{% endblock %}
        </div><!--
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Our Sidebar</h3>
                        <p class='text-muted'>You can put any information here you'd like.
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Latest Posts</li>
                                <li class="list-group-item list-group-item-light">Announcements</li>
                                <li class="list-group-item list-group-item-light">Calendars</li>
                                <li class="list-group-item list-group-item-light">etc</li>
                            </ul>
                        </p>
                    </div>-
                </div>-->
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>



