{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section col-12 col-md-6">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit profile</legend>
            {{ form|crispy }}
            <!-- form|crispy -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save changes</button>
        </div>
    </form>
</div>
{% endblock content %}





