{% extends "base.html" %}
{% block content %}
<h1> Welcome to DnDer! One day this will be a proper page for logged in folk!</h1>
<h3> And, the day is almost here!</h3>


<div class="container">
    <div class="gap-100"></div>
    {% if user.is_authenticated %}
    <div>
        <h3>Here we can see the challenges awaiting us:</h3>
        <form>
  </form>
    </div>
    <div>
        <label>Sort by: </label>
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option value="/home">-Select-</option>
            <option value="/home/date">Date</option>
            <option value="/home/name">Name</option>
            <option value="/home/country">Country</option>
            <option value="/home/starting_pc_level">Skill level</option>
            <option value="/home/language">Language</option>
        </select>
    </div>
    <div class="gap-10"></div>
<div class="container">
    <div class="row py-2 mb-2 bg-info text-white rounded align-items-center">
            <div class="col">NAME</div>
            <div class="col">COUNTRY</div>
            <div class="col">DATE</div>
            <div class="col">TIME</div>
            <div class="col">STARTING PC LEVEL</div>
            <div class="col">COUNTRY</div>
            <div class="col"></div>
        </div>
</div>

    {% for sessionEvent in object_list %}
    <div class="container">
        <div class="row py-2 mb-2 bg-secondary text-white rounded align-items-center">
            <div class="col">{{ sessionEvent.name }}</div>
            <div class="col">{{ sessionEvent.country }}</div>
            <div class="col">{{ sessionEvent.date }}</div>
            <div class="col">{{ sessionEvent.time }}</div>
            <div class="col">{{ sessionEvent.starting_pc_level }}</div>
            <div class="col">{{ sessionEvent.country }}</div>
            <a href="{% url 'session_page' pk=sessionEvent.pk %}" type="button" class="btn btn-secondary float-right">Explore
                more</a>
        </div>
    </div>
    {% endfor %}
    <!--
    <a href="" type="button" class="btn-sm btn-secondary float-left">Show more sessions</a>
    -->
</div>
    {% else %}
    <h3>One must be a part of the Guild to see available quests!</h3>
    {% endif %}

<!-- ovo sve je test
<div class="container">
    <a href="/profile">
        <button type="button" class="btn btn-secondary float-right">Explore more</button>
    </a>
    <div class="p-3 mb-2 bg-secondary text-white rounded">test1</div>
    <button type="button" class="btn btn-secondary float-right">Explore more</button>
    <div class="p-3 mb-2 bg-secondary text-white rounded">test2</div>
</div>
     dovdje -->


<style>
    .gap-10 {
    width:100%;
    height:10px;
	}
	.gap-100 {
	width:100%;
    height:100px;
	}


</style>


{% endblock content %}


