{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section col-12 col-md-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
                <!-- form|crispy -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Not registered? Our guild registry is right here! <a class="ml-2" href="{% url 'register' %}">Register</a>
            </small>
        </div>
        <div class="pt-3">
            <small class="text-muted">
                Forgot password? Fear not! <a class="ml-2" href="{% url 'forgotpassword' %}">Reset password</a>
            </small>
        </div>

    </div>
{% endblock content %}





