{% extends "base.html" %}
{% block content %}
    <h2>Logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            Missing us? <a class="ml-2" href="{% url 'login' %}">Login</a>
        </small>
    </div>
{% endblock content %}





