{% extends "base.html" %}
{% block content %}
    <div class="container content-section justify-content-center">
        <label>Please confirm your email address to complete the registration</label>
    </div>
{% endblock content %}





