{% extends "base.html" %}
<!-- load crispy_forms_tags -->
{% block content %}
<div class="content-section">
    <h1>Guild registry page of {{user.username}}! </h1>
    <h2>Adventurer status : <span class="badge badge-secondary">{{user.status}}</span></h2>
    <h2>Sessions played : <span class="badge badge-secondary">{{user.number_of_sessions_played}}</span></h2>
    <h5 class="card-title">Adventurer summary</h5>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <p class="card-text">{{description}}</p>
        </div>
    </div>
        {% if user.is_dm %}
            <h3>DM status : Aye </h3>
        {% else %}
            <h3>DM status: Nay</h3>
        {% endif %}
    <div class="row">

        <label class="col-sm-2 control-label">PC Rating</label>
        <label class="col-sm-2 control-label">{{ user.get_rating }} / 5</label>
    </div>
    <div class="row">
        {% if user.is_dm %}
        <label class="col-sm-2 control-label">DM Rating</label>
        <label class="col-sm-2 control-label">{{ user.dm.get_rating }} / 5</label>
        {% endif %}
    </div>

</div>
<h1></h1>
<form action="{% url 'report' user.username %}">
    <button type="submit" class="btn {{ outline }}">Report this adventurer</button>
</form>
{% endblock content %}





