{% extends "base.html" %}
<!-- load crispy_forms_tags -->
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Report</legend>
            {{ form.as_p }}
            <!-- form|crispy -->

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Report</button>
        </div>

    </form>
</div>
{% endblock content %}





