{% extends "base.html" %}
<!-- load crispy_forms_tags -->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Session Editor</legend>
                {{ form.as_p }}
                <!-- form|crispy -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'home' %}">Cancel</a>
            </small>
        </div>
    </div>
{% endblock content %}