{% extends "base.html" %} {% block content %}
<div class="container">
   
        <div class=".col-md-4">
            <div class="panel panel-default panel-info Session">
                <div class="panel-heading">SESSION INFO</div>
                <div class="panel-body">

                    <p>Session Name: {{ session.name }}</p>
                    <p>Country: {{ session.country }}</p>
                    <p>City: {{ session.city }}</p>
                    <p>Address: {{ session.address }}</p>
                    <p>Date: {{ session.date }}</p>
                    <p>Time: {{ session.time }}</p>
                    <p>Language: {{ session.language}}</p>
                    <p>Is session private: {{ session.private_session }}</p>
                    <p>Description: {{ session.description }}</p>
                    <p>Edition: {{ session.edition }}</p>
                    <p>Campaign: {{ session.campaign }}</p>
                    <p>Homebrew/3rd party materials allowed: {{ session.homebrew }}</p>
                    <p>Starting player level: {{ session.starting_pc_level }}</p>
                    <p>Minimum number of players required: {{ session.min_number_of_players }}</p>
                    <p>Maximum number of players allowed: {{ session.max_number_of_players }}</p>
                    <p>Current number of attendees: {{ session.current_number_of_players }}</p>
                    <p>Fee: {{ session.fee }}</p>
                    <p>Estimated duration of session: {{ session.estimated_duration }}</p>
                    <p>Attendees : {{attendees}}</p>

                </div>
                <!-- end form-horizontal -->
                {% if user.is_dm %}
                <form action="{% url 'session_edit' pk=session.pk %}">
                    <button type="submit" class="btn {{ outline }}">Edit</button>
                </form>
                {% endif %}

                <form action="{% url 'home' %}">
                    <button type="submit" class="btn {{ outline }}">Back</button>
                </form>

                <form action="{% url 'apply_to_session' pk=session.pk %}">
                    <button type="submit" class="btn {{ outline }}">Join</button>
                </form>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    
</div>

<!-- end size -->

<!-- end container-fluid -->
{% endblock content %}