{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section col-12 col-md-6">
    <form method="POST">
        {% csrf_token %}
{#        <fieldset class="form-group">#}
{#            <legend class="border-bottom mb-4">Registration!</legend>#}
{#            {% for field in form %}#}
{#                <div class="form-group">#}
{#                    <div class="form-group row">#}
{#                        <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>#}
{#                        <div class="col-sm-9">#}
{#                            {% if field.label == "DM" %}#}
{#                                <div class="form-check">#}
{#                                    <input class="form-check-input" type="checkbox" id="{{ field.id_for_label }}">#}
{#                                </div>#}
{#                            {% else %}#}
{#                                <input class="form-control col-form-label" placeholder="Enter {{ field.label }}">#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                    {% for error in field.errors %}#}
{#                        <div class="alert alert-danger" role="alert">#}
{#                            {{ error }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                    {% if field.help_text %}#}
{#                    <p class="help">{{ field.help_text|safe }}</p>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
{#            <!-- form|crispy -->#}
{#        </fieldset>#}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already a registered adventurer? <a class="ml-2" href="{% url 'login' %}">Login</a>
        </small>
    </div>
</div>
{% endblock content %}